
<div class="scrollable">
  <div class="media" id="student-info">
    <div class="media-body">
        <h1 class="media-heading">{{studentInfo.StudentId}}</h1>
        {{studentInfo.StudentName}}
    </div>
  </div>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" ng-repeat="item in menu" href="#{{item.url}}">
          <i class="fa fa-chevron-right pull-right"></i>
          <h4 class="list-group-item-heading">{{item.label}}</h4>
          <p class="list-group-item-text">Lorem ipsum</p>
      </a>
    </div>
  </div>
</div>