/*BOOTSTRAP*/
@import "bootstrap/less/mixins.less";
@import "bootstrap/less/variables.less";
@import "bootstrap/less/buttons.less";

@import "mobile-angular-ui/src/less/mobile-angular-ui.less";
@import "mixins.less";
@import "variables.less";

.hidden{
  display: none;
}
body{
  background-color: #777;
}
.app{
  height: calc(~'100% - 20px');
  margin-top: 20px;
}